.row,
.column {
    display: flex;
    gap: 1rem;
    background-color: rgb(173, 216, 216);
    margin-bottom: 2rem;

}

.flex-item {
    /* width: calc((100% - 2rem)/3); */
    width: 300px;
    background: rgb(222, 248, 255);
    padding: .75rem;
}

.row {
    justify-content: center;
}

.column {
    justify-content: center;
    flex-direction: column;
    /* when rotating to a column, both justify-content and align-items rotate as well */
    /* Now to center on the page use align-items  */
    align-items: center;
}